*.pyc
*~
*DS_STORE
docs/build
tos/Node/build
tos/Node/*/build
tos/Root/build
tos/Root/*/build
tos/Util/ch4bitle
cogent/node/Packets.py
cogent/node/*Msg.py
ch_base.egg-info/
build/
dist/
cogent/push/.cache
cogent/push/.coverage
cogent/push/testcover/
cogent/push/*_map.conf
*.egg-info/*
dataclense/*
*.log
*.html
*.db
dist
testcover/*
pylintrc
pylint.out
.coverage
.eggs
