*.pyc
*~
*DS_STORE
docs/build
tos/Node/build
tos/Node/*/build
tos/Root/build
tos/Root/*/build
tos/Util/ch4bitle
pulp/node/Packets.py
pulp/node/*Msg.py
ch_base.egg-info/
build/
dist/
*.egg-info/*
dataclense/*
*.log
*.db
*.Rhistory
dist
testcover/*
pylintrc
pylint.out
.coverage
.eggs
.Rproj.user
/htmlcov/
/coverage.xml
