include *.txt
include *.cfg
recursive-include conf *
recursive-include etc *
recursive-include www *
recursive-include cogent/alembic *.py 

include cogent/push/synchronise.conf
include cogent/push/ch-ssh
include cogent/alembic.ini
include cogent/scripts/flash-node
include cogent/report/report-template.mak

global-exclude *~
global-exclude *.pyc
