alembic>=1.4.0
attrs>=19.3.0
certifi>=2019.11.28
chardet>=3.0.4
configobj>=5.0.6
cycler>=0.10.0
idna>=2.8
kiwisolver>=1.1.0
Mako>=1.1.1
MarkupSafe>=1.1.1
matplotlib
more-itertools
mysqlclient
numpy
packaging
pluggy
py
pyparsing
pyserial
pytest
python-dateutil
python-editor
requests
six
SQLAlchemy
transaction
urllib3
wcwidth
zope.interface
coverage
